h2 {
    margin: 50px 0;
    color: rgb(1, 0, 78);
  }
  
  .jobListContainer {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px auto;
    grid-gap: 20px;
  
    @media all and (max-width: 480px){
      width: 90%;
     grid-template-columns: 1fr;
    }
  
    .card {
      position: relative;
      border-radius: 10px;
      padding: 20px;
      background: rgb(255, 255, 255);
      display: flex;
      text-align: left;
      flex-direction: column;
  
      .arrow {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: rgb(233, 246, 255);
        position: absolute;
        display: grid;
        place-items: center;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        outline: none;
  
        svg {
          width: 30px;
          height: 30px;
          color: rgb(0, 28, 121);
  
        }
      }
  
      .box1 {
        p {
          display: inline-block;
          font-size: 14px;
          color: rgb(9, 0, 129);
          margin: 5px 0;
          padding: 5px 10px;
          background: rgb(233, 246, 255);
          border-radius: 10px;
        }
      }
  
      .box2 {
        h3 {
          
          font-size: 18px;
          
          margin: 5px 0;
          
        }
      }
  
      .box3 {
        .type {
          display: flex;
          align-items: center;
          margin: 5px 0;
  
          svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
          p {
            font-size: 14px;
          }
        }
        .location {
          display: flex;
          align-items: center;
          margin: 5px 0;
  
  
          svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
  
          p {
            font-size: 14px;
          }
        }
      }
  
      .box4 {
        display: flex;
        align-items: center;
  
  
        svg {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
  
        p {
          font-size: 14px;
        }
      }
  
      
    }
  }
  
  .seeMoreBtn {
    width: 20%;
    padding: 10px 20px;
    background: rgb(0, 1, 71);
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 50px 0;
    cursor: pointer;
    outline: none;
  
    @media all and (max-width: 480px){
      width: 90%;
    }
  }